.white-bg-button {
  background-color: transparent;
  border: 1px solid var(--color-main);
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: fit-content;
  cursor: pointer;
}

.black-bg-button {
  background-color: var(--color-main);
  border: 1px solid var(--color-main);
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  width: fit-content;
  color: #ffffff;
}
